.servicesWrapper {
  max-width: 1128px;

  h2 {
    text-align: center;
  }

  p {
    margin-bottom: 0px;
  }

  ul {
    margin-left: 1em;
    margin-top: 10px;
    margin-bottom: 80px;

    li {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 720px) {
  .servicesWrapper {
    display: flex;
    flex-direction: column;
  }

}