@import "../App/variables";
@import "../App/mixins";

.formWrapper {
  box-sizing: border-box;
  max-width: 682px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;

  .formHeader {
    margin: 0 0 50px 0;
    @include Roboto(500, 28px, 30px)
  }
  h2 {
    margin: 0;
  }
}

.formContainer {
  width: 100%;
  display: flex;
  justify-content: center;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      max-width: 682px;
      width: 330px;
      height: 44px;
      border: 2px solid $green;
      border-radius: 4px;
      margin-bottom: 40px;
      text-indent: 0;
      transition: text-indent 0.3s ease;
      @include Roboto(400, 20px, 28px);
    }

    textarea {
      max-width: 682px;
      width: 330px;
      border: 2px solid $green;
      border-radius: 4px;
      margin-bottom: 40px;
      height: 120px;
      resize: none;
      @include Roboto(400, 20px, 28px);

      &:focus::placeholder {
        opacity: 0;
        transition: 0.3s ease-out;
      }

    }
  }

}

@media screen and (min-width: 720px) {
  .formContainer {
    box-sizing: border-box;
    padding: 0 15px;

    form {
      width: 682px;

      input {
        width: 100%;

        &:focus::placeholder {
          text-indent: 400px;
          transition: text-indent 0.3s ease-out;
        }
      }

      textarea {
        width: 100%;
      }
    }
  }
}