.serviceWrapper {
  display: flex;
  flex-direction: column;
}

.service {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.serviceImg {
  max-width: 470px;
}

.serviceInfo {
  max-width: 547px;
  h2 {
    text-align: start;
  }
  p {
    margin-bottom: 15px;
  }
}