@import "reset";
@import "base";
@import "../../fonts/Roboto.css";

.wrapper {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}