@import "../App/variables";

.footerWrapper {
  height: 295px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $green;
}


@media screen and (max-width: 720px) {
  .footerWrapper {
    height: 100%;
  }
}