.mainContentWrapper {
  margin: 100px 0;
  display: flex;
  max-width: 1128px;
  width: 100%;
  justify-content: space-between;
}

.mainContentImg {
  img {
    max-width: 595px;
    width: 100%;
  }
}